{% extends 'base.html.twig' %}

{% block title %}Adopcje{% endblock %}

{% block adoptions_active %} class="active" {% endblock %}

{% block body %}
<div id="main">
    {% for animal in hlArray %}
        <div class="box1">
            <h2>{{ animal.title }}</h2>
            <div class="box-image-bigger"> <img src="{{ asset(animal.image) }}" alt="" /> </div>
            <p>{{ animal.desc1 }}</p>
            <p class="last">{{ animal.desc2 }}</p>
            <a href="#" class="read-more">Czytaj dalej</a>
        </div>
    {% endfor %}
</div>
{% endblock %}